@font-face {
  font-family: "Graphik";
  src: local("Graphik"),
    url("./assets/fonts/Graphik-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Graphik";
  src: local("Graphik"),
    url("./assets/fonts/Graphik-Semibold.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "Glyphicons Halflings";

  src: local("Glyphicons Halflings"),
    url("./assets/fonts/glyphicons-halflings-regular.woff") format("woff");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
