@font-face {
  font-family: "Athletics";
  src: local("Athletics"),
    url("./assets/fonts/Athletics-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Athletics";
  src: local("Athletics"),
    url("./assets/fonts/Athletics-Bold.woff2") format("woff2");
  font-weight: bold;
}

@font-face {
  font-family: "Glyphicons Halflings";

  src: local("Glyphicons Halflings"),
    url("./assets/fonts/glyphicons-halflings-regular.woff") format("woff");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
