.container {
  height: 60vh;
  width: 100%;
  color: black !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
  width: fit-content;
  margin: 1rem 1rem;
  /*margin-top: -10px;*/
}

.buttonContainer button {
  background: transparent;
  color: rgba(33, 37, 41, 0.8);
  font-size: 16px;
  font-family: "PT Sans";
  border: 2px solid rgba(33, 37, 41, 0.3);
  border-radius: 5px;
  padding: 2px 10px;
  transition: all 200ms ease-in-out;
  cursor: pointer;
  outline-color: rgba(33, 37, 41, 0.3);
}

.buttonContainer button:hover {
  background: rgba(35, 131, 204, 0.3);
  padding: 2px 20px;
}

button[value="weekly"] {
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

button[value="monthly"] {
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
