body {
  font-family: "Athletics" !important;
  overflow-x: hidden !important;
}

#root {
  width: 100% !important;
}

.bold {
  font-weight: bold !important;
}

.custom-bullet li {
  display: block !important;
  list-style-type: disc !important;
  list-style-position: inside !important;
  text-indent: -1em !important;
  padding-left: 1em !important;
}

.custom-bullet li:before {
  content: "\2713" !important;
  font-family: "Glyphicons Halflings" !important;
  font-size: 1rem !important;
  margin-left: -1rem !important;
  margin-right: 1rem !important;
}

.navbar-brand {
  width: 80% !important;
}

.navbar-toggler:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.ua-nav {
  background-color: #ffff !important;
  background-attachment: fixed !important;
  background-size: cover !important;
  background-position: center !important;
}

.ua-nav-scrolled {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06) !important;
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06) !important;
}

.nav-container {
  width: 90% !important;
}

.nav-logo {
  height: auto !important;
  width: 30% !important;
}

.navbar-expand-lg .navbar-collapse {
  -ms-flex-preferred-size: 100% !important;
      flex-basis: 100% !important;
}

.nav-link {
  font-weight: bold;
  font-size: 1.25rem !important;
}

.nav-link:hover {
  text-decoration: underline !important;
  text-shadow: 2px 2px rgba(33, 37, 41, 0.3) !important;
}

.home-section-1 {
  background-color: #ffff !important;
  background-attachment: fixed !important;
  background-size: cover !important;
  background-position: center !important;
  height: auto !important;
  min-height: 100vh !important;
  width: 100% !important;
}

.content-container {
  width: 90% !important;
}

.home-section-1-cta-text {
  width: 90% !important;
}

.home-section-1-h1-text {
  font-size: 2.5rem !important;
}

.signup-btn-logo {
  width: 20%;
  background-color: #fff;
  border-radius: 50%;
}

.home-section-1-signup-btn {
  background-color: #2383cc !important;
  border-color: transparent transparent !important;
  outline-color: transparent transparent !important;
  border: 0px solid transparent !important;
  border-radius: 30px !important;
  -webkit-box-shadow: 5px 4px rgba(0, 0, 0, 0.3) !important;
          box-shadow: 5px 4px rgba(0, 0, 0, 0.3) !important;
}

.home-section-1-signup-btn:hover {
  -webkit-box-shadow: 9px 8px rgba(0, 0, 0, 0.3) !important;
          box-shadow: 9px 8px rgba(0, 0, 0, 0.3) !important;
}

.home-section-1-h2-text {
  font-size: 2rem !important;
}

.highlight {
  padding-top: 6rem !important;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(90%, transparent), color-stop(90%, rgba(35, 131, 204, 0.2))) !important;
  background-image: linear-gradient(transparent 90%, rgba(35, 131, 204, 0.2) 90%) !important;
}

.home-section-1-big-board-chart-container {
  -webkit-box-shadow: rgba(35, 131, 204, 0.15) 8px 8px 4px;
          box-shadow: rgba(35, 131, 204, 0.15) 8px 8px 4px;
}

.home-section-2-h1-text {
  font-size: 2.5rem !important;
}

.home-section-2-icon {
  height: auto !important;
  width: 40% !important;
}

.home-section-2-subtitle {
  text-shadow: 5px 4px rgba(35, 131, 204, 0.3) !important;
}

.home-section-2-text {
  width: 60% !important;
}

.home-section-2-text-subtext {
  font-size: 0.5rem;
}

.home-section-3 {
  background-color: #ffffff !important;
  background-attachment: fixed !important;
  background-size: cover !important;
  background-position: center !important;
  height: auto !important;
  width: 100% !important;
}

.home-section-3-h1-text {
  font-size: 2.5rem !important;
}

.home-section-3-chart-container {
  -webkit-box-shadow: rgba(35, 131, 204, 0.15) 8px 8px 4px;
          box-shadow: rgba(35, 131, 204, 0.15) 8px 8px 4px;
}

.home-section-4-h1-text {
  font-size: 2.5rem !important;
}

.home-section-4-h2-text {
  font-size: 2rem !important;
}

.home-section-4-tier {
  position: relative !important;
  height: 100% !important;
  -webkit-box-shadow: rgba(35, 131, 204, 0.15) 8px 8px 4px;
          box-shadow: rgba(35, 131, 204, 0.15) 8px 8px 4px;
}

.home-section-4-title {
  text-shadow: 5px 4px rgba(35, 131, 204, 0.3) !important;
}

.home-section-4-pricing {
  text-shadow: 5px 4px rgba(35, 131, 204, 0.3) !important;
}

.home-section-4-separator {
  border: 2px solid black !important;
}

.home-section-4-text {
  width: 90% !important;
}

.red-highlight {
  padding-top: 6rem !important;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(90%, transparent), color-stop(90%, rgba(245, 65, 75, 0.2))) !important;
  background-image: linear-gradient(transparent 90%, rgba(245, 65, 75, 0.2) 90%) !important;
}

.home-section-4-tier .bottom {
  position: absolute !important;
  bottom: 0 !important;
  width: 80% !important;
}

.home-section-4-signup-btn {
  background-color: #2383cc !important;
  border-color: transparent transparent !important;
  outline-color: transparent transparent !important;
  border: 0px solid transparent !important;
  border-radius: 30px !important;
  -webkit-box-shadow: 5px 4px rgba(0, 0, 0, 0.3) !important;
          box-shadow: 5px 4px rgba(0, 0, 0, 0.3) !important;
}

.home-section-4-signup-btn:hover {
  -webkit-box-shadow: 9px 8px rgba(0, 0, 0, 0.3) !important;
          box-shadow: 9px 8px rgba(0, 0, 0, 0.3) !important;
}

.home-section-5 {
  background-color: #ffffff !important;
  background-attachment: fixed !important;
  background-size: cover !important;
  background-position: center !important;
  height: auto !important;
  width: 100% !important;
}

.home-section-5-h1-text {
  font-size: 2.5rem !important;
}

.table {
  border-color: transparent !important;
  width: 95% !important;
  -webkit-box-shadow: rgba(35, 131, 204, 0.15) 8px 8px 4px;
          box-shadow: rgba(35, 131, 204, 0.15) 8px 8px 4px;
}

footer {
  background-color: #f9f9f9 !important;
}

.footer-link {
  text-decoration: none !important;
  color: #2b2f32 !important;
}

.footer-signup-section {
  width: 80% !important;
}

.footer-signup-input {
  background-color: transparent !important;
  border-top: none !important;
  border-bottom: 3px solid #000 !important;
  border-left: none !important;
  border-right: none !important;
  border-radius: 0 !important;
}

.footer-signup-input:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.footer-signup-input-btn {
  background-color: transparent !important;
  border-top: none !important;
  border-bottom: 3px solid #000 !important;
  border-left: none !important;
  border-right: none !important;
  border-radius: 0 !important;
}

.footer-signup-input-btn:hover {
  color: #000 !important;
}

.footer-signup-input-btn:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.footer-signup-text {
  width: 80% !important;
}

.footer-signup-text a {
  color: #2b2f32 !important;
}

.footer-subsection {
  background-color: #f9f9f9 !important;
}

.footer-separator {
  margin-top: 0 !important;
  background-color: #f9f9f9 !important;
  border-top: 3px solid #000 !important;
  width: 90% !important;
}

.footer-copyright-section {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-flow: row wrap !important;
          flex-flow: row wrap !important;
  font-size: 0.8rem !important;
}

.footer-copyright-section-text {
  width: 33.33333% !important;
  text-align: left !important;
}

.footer-copyright-section-links {
  width: 33.33333% !important;
  text-align: center !important;
}

.footer-copyright-section-links a {
  color: #2b2f32;
  text-decoration: none !important;
}

@media (min-width: 1400px) {
  .home-section-1-h1-text {
    font-size: 5rem !important;
  }
  .home-section-1-big-board-img {
    height: 60% !important;
    width: auto !important;
  }
  .home-section-2-h1-text {
    font-size: 5rem !important;
    width: 50% !important;
  }
  .home-section-3-h1-text {
    font-size: 5rem !important;
    width: 60% !important;
  }
  .home-section-4-h1-text {
    font-size: 5rem !important;
    width: 40% !important;
  }
  .home-section-4-h2-text-wrapper {
    width: 30% !important;
  }
  .home-section-5-h1-text {
    font-size: 5rem !important;
    width: 50% !important;
  }
}
/*# sourceMappingURL=home.css.map */