body {
  font-family: "Athletics" !important;
  overflow-x: hidden !important;
}

#root {
  width: 100% !important;
}

.bold {
  font-weight: bold !important;
}

.custom-bullet li {
  display: block !important;
  list-style-type: disc !important;
  list-style-position: inside !important;
  text-indent: -1em !important;
  padding-left: 1em !important;
}

.custom-bullet li:before {
  content: "\2713" !important;
  font-family: "Glyphicons Halflings" !important;
  font-size: 1rem !important;
  margin-left: -1rem !important;
  margin-right: 1rem !important;
}

.navbar-brand {
  margin-top: 0.5rem;
  width: 150% !important;
}

.navbar-toggler:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.ua-nav {
  background-color: #ffff !important;
  background-attachment: fixed !important;
  background-size: cover !important;
  background-position: center !important;
  height: 5rem !important;
}

.ua-nav-scrolled {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06) !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06) !important;
}

.nav-container {
  width: 90% !important;
}

.nav-logo {
  height: auto !important;
  width: 30% !important;
}

.navbar-expand-lg .navbar-collapse {
  -ms-flex-preferred-size: 100% !important;
  flex-basis: 100% !important;
}

.nav-link {
  font-weight: bold;
  font-size: 1.25rem !important;
  margin-top: 2rem;
}

.nav-link:hover {
  text-decoration: underline !important;
  text-shadow: 2px 2px rgba(33, 37, 41, 0.3) !important;
}

.inline-container {
  padding: 0 !important;
  border: none !important;
}

.inline-container .form-container {
  margin: 0 !important;
}

.inline-container .inner {
  display: none !important;
}

.inline-container .mastfoot.text-center.no-bg {
  display: none !important;
}

.inline-container div.text-center {
  display: none !important;
}

.eo-form-wrapper > div:nth-child(3) {
  display: none !important;
}

.emailoctopus-form .main-form {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.emailoctopus-form .main-form .emailoctopus-form-row {
  -webkit-box-flex: 70% !important;
  -ms-flex: 70% !important;
  flex: 70% !important;
  min-width: 0 !important;
}

.emailoctopus-form .main-form .emailoctopus-form-row input {
  border-radius: 0px !important;
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
  border-bottom: 3px solid #000 !important;
}

.emailoctopus-form .main-form .emailoctopus-form-row input:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.emailoctopus-form .main-form input.btn {
  -webkit-box-flex: 30% !important;
  -ms-flex: 30% !important;
  flex: 30% !important;
  background-color: #2383cc !important;
  border-color: transparent transparent !important;
  outline-color: transparent transparent !important;
  border: 0px solid transparent !important;
  border-radius: 30px !important;
  -webkit-box-shadow: 5px 4px rgba(0, 0, 0, 0.3) !important;
  box-shadow: 5px 4px rgba(0, 0, 0, 0.3) !important;
}

.emailoctopus-form .main-form input.btn:hover {
  -webkit-box-shadow: 9px 8px rgba(0, 0, 0, 0.3) !important;
  box-shadow: 9px 8px rgba(0, 0, 0, 0.3) !important;
}

.home-section-1 {
  background-color: #ffff !important;
  background-attachment: fixed !important;
  background-size: cover !important;
  background-position: center !important;
  height: auto !important;
  min-height: calc(100vh - 9.375rem) !important;
  width: 100% !important;
}

.content-container {
  width: 90% !important;
}

.home-section-1-cta-text {
  width: 90% !important;
}

.home-section-1-h1-text {
  font-size: 2.75rem !important;
}

.signup-btn-logo {
  width: 20%;
  background-color: #fff;
  border-radius: 50%;
}

.home-section-1-signup-btn {
  background-color: #2383cc !important;
  border-color: transparent transparent !important;
  outline-color: transparent transparent !important;
  border: 0px solid transparent !important;
  border-radius: 30px !important;
  -webkit-box-shadow: 5px 4px rgba(0, 0, 0, 0.3) !important;
  box-shadow: 5px 4px rgba(0, 0, 0, 0.3) !important;
}

.home-section-1-signup-btn:hover {
  -webkit-box-shadow: 9px 8px rgba(0, 0, 0, 0.3) !important;
  box-shadow: 9px 8px rgba(0, 0, 0, 0.3) !important;
}

.home-section-1-h2-text {
  font-size: 1.75rem !important;
}

.highlight {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(90%, transparent), color-stop(90%, rgba(35, 131, 204, 0.2))) !important;
  background-image: linear-gradient(transparent 90%, rgba(35, 131, 204, 0.2) 90%) !important;
}

.home-section-1-big-board-chart-container {
  height: auto !important;
  width: 100% !important;
  border-radius: 10px !important;
  padding: 1rem !important;
  -webkit-box-shadow: rgba(35, 131, 204, 0.12) 0px 1px 3px, rgba(35, 131, 204, 0.24) 0px 1px 2px !important;
  box-shadow: rgba(35, 131, 204, 0.12) 0px 1px 3px, rgba(35, 131, 204, 0.24) 0px 1px 2px !important;
}

.home-section-2-h1-text {
  font-size: 2.5rem !important;
}

.home-section-2-icon {
  height: auto !important;
  width: 40% !important;
}

.home-section-2-subtitle {
  text-shadow: 5px 4px rgba(35, 131, 204, 0.3) !important;
}

.home-section-2-text {
  width: 60% !important;
}

.home-section-2-text-subtext {
  font-size: 0.5rem;
}

.home-section-3 {
  background-color: #ffffff !important;
  background-attachment: fixed !important;
  background-size: cover !important;
  background-position: center !important;
  height: auto !important;
  width: 100% !important;
}

.home-section-3-h1-text {
  font-size: 2.5rem !important;
}

.home-section-3-chart-container {
  border-radius: 10px !important;
  padding: 1rem !important;
  -webkit-box-shadow: rgba(35, 131, 204, 0.12) 0px 1px 3px, rgba(35, 131, 204, 0.24) 0px 1px 2px !important;
  box-shadow: rgba(35, 131, 204, 0.12) 0px 1px 3px, rgba(35, 131, 204, 0.24) 0px 1px 2px !important;
}

.home-section-4-h1-text {
  font-size: 2.5rem !important;
}

.home-section-4-h2-text {
  font-size: 2rem !important;
}

.home-section-4-tier {
  position: relative !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important;
  height: 100% !important;
  border-radius: 10px !important;
  -webkit-box-shadow: rgba(35, 131, 204, 0.12) 0px 1px 3px, rgba(35, 131, 204, 0.24) 0px 1px 2px !important;
  box-shadow: rgba(35, 131, 204, 0.12) 0px 1px 3px, rgba(35, 131, 204, 0.24) 0px 1px 2px !important;
}

.home-section-4-title {
  text-shadow: 5px 4px rgba(35, 131, 204, 0.3) !important;
}

.home-section-4-pricing {
  text-shadow: 5px 4px rgba(35, 131, 204, 0.3) !important;
}

.home-section-4-separator {
  border: 2px solid black !important;
}

.home-section-4-text {
  width: 90% !important;
}

.red-highlight {
  padding-top: 6rem !important;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(90%, transparent), color-stop(90%, rgba(245, 65, 75, 0.2))) !important;
  background-image: linear-gradient(transparent 90%, rgba(245, 65, 75, 0.2) 90%) !important;
}

.home-section-4-tier .bottom {
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  margin-top: auto !important;
}

.home-section-4-signup-btn {
  background-color: #2383cc !important;
  border-color: transparent transparent !important;
  outline-color: transparent transparent !important;
  border: 0px solid transparent !important;
  border-radius: 30px !important;
  -webkit-box-shadow: 5px 4px rgba(0, 0, 0, 0.3) !important;
  box-shadow: 5px 4px rgba(0, 0, 0, 0.3) !important;
}

.home-section-4-signup-btn:hover {
  -webkit-box-shadow: 9px 8px rgba(0, 0, 0, 0.3) !important;
  box-shadow: 9px 8px rgba(0, 0, 0, 0.3) !important;
}

.home-section-4-coming-soon-cover {
  position: absolute !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
  border-radius: 10px !important;
  height: 100% !important;
  width: 100% !important;
  left: 0 !important;
}

.home-section-4-coming-soon-text {
  font-size: 6rem !important;
  text-align: center !important;
  color: #ffff !important;
  text-shadow: 5px 4px rgba(245, 65, 75, 0.2) !important;
}

.home-section-5 {
  height: auto !important;
  width: 100% !important;
}

.home-section-5-h1-text {
  font-size: 2.5rem !important;
}

.swiper-container {
  height: 600px !important;
}

.scroll-indicator-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.scroll-indicator-chevron {
  position: absolute;
  width: 2.1rem;
  height: 0.48rem;
  opacity: 0;
  -webkit-transform: scale(0.3);
  transform: scale(0.3);
  -webkit-animation: move-chevron 3s ease-out infinite;
  animation: move-chevron 3s ease-out infinite;
}

.scroll-indicator-chevron:first-child {
  -webkit-animation: move-scroll-indicator-chevron 3s ease-out 1s infinite;
  animation: move-scroll-indicator-chevron 3s ease-out 1s infinite;
}

.scroll-indicator-chevron:nth-child(2) {
  -webkit-animation: move-scroll-indicator-chevron 3s ease-out 2s infinite;
  animation: move-scroll-indicator-chevron 3s ease-out 2s infinite;
}

.scroll-indicator-chevron:before,
.scroll-indicator-chevron:after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  background: #2c3e50;
}

.scroll-indicator-chevron:before {
  left: 0;
  -webkit-transform: skewY(30deg);
  transform: skewY(30deg);
}

.scroll-indicator-chevron:after {
  right: 0;
  width: 50%;
  -webkit-transform: skewY(-30deg);
  transform: skewY(-30deg);
}

@-webkit-keyframes move-scroll-indicator-chevron {
  25% {
    opacity: 1;
  }
  33.3% {
    opacity: 1;
    -webkit-transform: translateY(2.28rem);
    transform: translateY(2.28rem);
  }
  66.6% {
    opacity: 1;
    -webkit-transform: translateY(3.12rem);
    transform: translateY(3.12rem);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(4.8rem) scale(0.5);
    transform: translateY(4.8rem) scale(0.5);
  }
}

@keyframes move-scroll-indicator-chevron {
  25% {
    opacity: 1;
  }
  33.3% {
    opacity: 1;
    -webkit-transform: translateY(2.28rem);
    transform: translateY(2.28rem);
  }
  66.6% {
    opacity: 1;
    -webkit-transform: translateY(3.12rem);
    transform: translateY(3.12rem);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(4.8rem) scale(0.5);
    transform: translateY(4.8rem) scale(0.5);
  }
}

.home-section-5-twitter-icon {
  width: 10%;
  height: auto;
}

.home-section-6 {
  height: auto !important;
  width: 100% !important;
}

.home-section-6-h1-text {
  font-size: 2.5rem !important;
}

.table {
  border-color: transparent !important;
  width: 95% !important;
  -webkit-box-shadow: rgba(35, 131, 204, 0.15) 8px 8px 4px;
  box-shadow: rgba(35, 131, 204, 0.15) 8px 8px 4px;
}

footer {
  background-color: #f9f9f9 !important;
}

.footer-link {
  text-decoration: none !important;
  color: #2b2f32 !important;
}

.footer-signup-section {
  width: 80% !important;
}

.footer-signup-input {
  background-color: transparent !important;
  border-top: none !important;
  border-bottom: 3px solid #000 !important;
  border-left: none !important;
  border-right: none !important;
  border-radius: 0 !important;
}

.footer-signup-input:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.footer-signup-input-btn {
  background-color: transparent !important;
  border-top: none !important;
  border-bottom: 3px solid #000 !important;
  border-left: none !important;
  border-right: none !important;
  border-radius: 0 !important;
}

.footer-signup-input-btn:hover {
  color: #000 !important;
}

.footer-signup-input-btn:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.footer-signup-text {
  width: 80% !important;
}

.footer-signup-text a {
  color: #2b2f32 !important;
}

.footer-subsection {
  background-color: #f9f9f9 !important;
}

.footer-separator {
  margin-top: 0 !important;
  background-color: #f9f9f9 !important;
  border-top: 3px solid #000 !important;
  width: 90% !important;
}

.footer-copyright-section {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
  -ms-flex-flow: row wrap !important;
  flex-flow: row wrap !important;
  font-size: 0.8rem !important;
}

.footer-copyright-section-text {
  width: 33.33333% !important;
  text-align: left !important;
}

.footer-copyright-section-links {
  width: 33.33333% !important;
  text-align: center !important;
}

.footer-copyright-section-links a {
  color: #2b2f32;
  text-decoration: none !important;
}

@media (min-width: 1400px) {
  .home-section-1-h1-text {
    font-size: 5rem !important;
  }
  .home-section-1-big-board-img {
    height: 60% !important;
    width: auto !important;
  }
  .home-section-2-h1-text {
    font-size: 5rem !important;
    width: 50% !important;
  }
  .home-section-3-h1-text {
    font-size: 5rem !important;
    width: 60% !important;
  }
  .home-section-4-h1-text {
    font-size: 5rem !important;
    width: 40% !important;
  }
  .home-section-4-h2-text-wrapper {
    width: 30% !important;
  }
  .home-section-5-h1-text {
    font-size: 5rem !important;
    width: 50% !important;
  }
  .home-section-6-h1-text {
    font-size: 5rem !important;
    width: 50% !important;
  }
}